<div class="jumbotron text-center">
    <h1>Welcome to Good Conversations</h1>
    <h3>Meet, share, and collaborate ideas in the easiest way, in a safe environment.</h3>
</div>
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Basic Membership (free)</h2>
            <h4>Sign up for free and get basic access to the community.</h4>
            <br/>
            <br/>
            <%= link_to "Sign up Basic", new_user_registration_path(plan: @basic_plan.id), class: 'btn btn-primary btn-lg btn-block' %>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2 class="text-center">Pro Membership</h2>
            <h4>Sign up for the pro account for only $2/month and get premium treatment in the chats, as well as other premium features that will help you moderate conversations!</h4>
            <%= link_to "Sign up Pro", new_user_registration_path(plan: @pro_plan.id), class: 'btn btn-success btn-lg btn-block' %>

        </div>
    </div>
</div>